<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>ADSOSA</title>
        <link rel="stylesheet" href="static/styles/add_product.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ url_for('static', filename='scripts/add_product.js')+ '?' + cache_id}}", type="text/javascript"></script>
    </head>
    <body>
	    <header>
		    <img src="static/images/logo.png" alt="" class="logo">
	    </header>
	    <form>
		    <div class="container">
			    <label for="Product Name">Enter Product Name:</label>
			    <p><input type = "text" name='name' placeholder="product name" required></p>
			    <label for="Product Serial Number">Enter Product Serial Number:</label>
			    <p><input type = "text" name='serial_number' placeholder="enter serial number" required></p>
			    <label for="Product Category">Enter Product Category:</label>
			    <p><input type = "text" name='category' placeholder="enter category" required></p>
			    <label for="expiry date">Enter Expiry Date:</label>
			    <p><input type = "date" name='expiry_date' placeholder="enter expiry date" required></p>
			    <label for="quantity">Enter Product Quantity:</label>
			    <p><input type = "number" name='quantity' placeholder="enter quantity" required></p>
			    <label for="price">Enter Unit Price:</label>
			    <p><input type = "number" name='price' placeholder="enter price" required></p>
			    <p><input type = "button" name='submit'  value="Add product"  required></p>
		    </div>
	    </form>
    </body>
</html>
