<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../static/styles/landing_page.css"/>
</head>
<body>
    <div class="page-container">
        <div class="page_header">
                <img id="logo" src="../static/images/logo.png" alt="logo"/>
            <div class="nav_bar">
                <nav>
                    <a href="#homepage">Home</a>
                    <a href="#add_page">Add Product</a>
                    <a href="#update_page">Update Product</a>
                    <a href="#About-section">About</a>
                </nav>
            </div>
        </div>

        <div class="intro-section">
            <h2 id="title">ADSOSA</h2>
            <p id="project_descrpt">ADSOSA is a web solution for the supply-chain industry, 
                it is meant to automate and create an inventory solution
            for different products</p>
        </div>
        <div class="feature-section" id="homepage">
                <img src="../static/images/product page1.png">
                
                <div class="homepage">
                <ul>
                    This is the Project Dashboard
                <li> This Top of the displays the total products and Total categories</li>
                <li>The main section displays product information which includes<br>
                Product name, Product category, Product Quantity and the Expiry Date</li>
                <li>The page includes the delete and update button and add product button</li>
                </ul>
            </div>
        </div>
        <div class="feature-section" id="add_page">
            <img src="../static/images/add_product 1.png">
            <img src="../static/images/add_product 2.png">
                <div class="add_page">
                    <ul>
                        Product Add page
                        <li>The features of this page is includes a form that takes input<br>
                        of the product information</li>
                        <li>it also includes an add button to submit the product</li>
                    </ul>
                </div>
            </div>
            <div class="feature-section">
                <img src="../static/images/update_product.png" alt="Product Info">
                
                <div class="update_page" id="update_page">
                    <ul>
                        Update Page
                        <li>This is an update feature to update information on a product</li>
                    </ul>
                 </div>
                
            </div>

            <div class="About-section" id="About-section">
                <h2>About</h2>
                <p>This website was designed to provide a system to keep track 
                    of stocks that come in and are sold in order to know that 
                    all goods ordered were supplied and  immediately know goods
                    that are getting depleted and restock.
                </p>
                <h4>Team members</h4>
                <span>
                   <em>Ademola Babarinde <a href="github.com/haywhiz">GITHUB</a> 
                        <a href="https://www.linkedin.com/in/babarinde-ademola-981b45165">LINKEDIN</a><br>
                    
                    Aisosa Aghedo <A href="github.com/AisosaAghedo">GITHUB</a>
                        <a href="https://www.linkedin.com/in/aisosa-aghedo-aa412b232">LINKEDIN</a>
                    </em>
                    
            </span>
            <h3>Project Repository<br>
                <a href="github.com/AisosaAghedo/Inventory-Management-System-MVP">GITHUB</a>

            </h3>


            </div>

    </div>
            
</body>
</html>