<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="static/login.css">
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ADSOSA</title>
</head>
<body>
 <header>
   <img src="static/images/logo.png" alt="" class="logo">
 </header>
 <form action="" method="post">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
</form>
<footer> 
   <b>Adsosa Inventory</b>
  </footer>
</body>
</html>
