<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADSOSA</title>
    
    <link rel="stylesheet" href="../static/styles/product.css"/>
    <link rel='shortcut icon' href="{{ url_for('static', filename='images/logo.png')+ '?' + cache_id}}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/product.js')+ '?' + cache_id}}", type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/product_delete.js')+ '?' + cache_id}}", type="text/javascript"></script>
</head>
   
<body>
    <div class="app-container">
      <div class="app-header">
        <div class="app-header-left">
          <span class="app-icon"></span>
          <div class="search-wrapper">
            <input class="search-input" type="text" placeholder="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
              <defs></defs>
            <circle cx="11" cy="11" r="8"></circle>
            <path d="M21 21l-4.35-4.35"></path>
          </svg>
        </div>
      </div>
      <div class="app-header-right"> <a href="{{url_for('logout')}}">Logout</a></div>
    </div>
      <div class="projects-section">
        <div class="projects-section-header">
          <p>Products</p>
	  <p class="time">{{current_time}}</p>
        </div>
        <div class="projects-section-line">
          <div class="projects-status">
            <div class="item-status">
		    <span class="status-number">{{total_product}}</span>
              <span class="status-type">Total Products</span>
            </div>
            <div class="item-status">
		    <span class="status-number">{{total_category}}</span>
              <span class="status-type">Total Categories</span>
            </div>
          </div>
      </div>
      <div name='filter'></div>
      {% for product in current_user.products %}
      <div class="project-box-content-header">
	      <div class="project-box" product_sn='{{product.serial_number}}'>
		<p class="box-content-header">Name: {{product.name}}</p>
		<p class="box-content-subheader"><strong>Category:</strong> {{product.category}}</p>
		<p class="box-content-subheader"><strong>Quantity:</strong> {{product.quantity}}</p>
		<p class="box-content-subheader"><strong>Expiry date:</strong>{{expiry_date}}</p>
		<input class='delete' type='button' value="Delete">
		<input class='update' type='button' value="update">

      </div>
      </div>
      

      {% endfor %}
        <div class="project-box-footer">
          <button class="add-product" style="color: #ff942e;">
            <a href="/add_product">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
            </a> 
          </button>
        </div>
    </div> 
</div>
</body>     
        

       
